$mx-primary-color: #fff;
$mx-secondary-color: #fff;
$mx-transparent: transparent;
$mx-body-color: #f9f9f9;
$mx-brand-blue: #0057FF;
$mx-brand-purple: #8B00FF;
$mx-brand-magenta: #E100FF;
$mx-primary-gradient: linear-gradient(135deg, #25B7D3, #2D5BFF, #6E2BFF, #E600C8);
$mx-design-border: #B13C8C;
$mx-learn-border: #F38412;
$mx-print-border: #00AE93;
$mx-mark-border: #E32E56;
$mx-social-border: #EF83B4;
$mx-tech-border: #1A3C6B;
$mx-copy-border: #19A265;
$mx-press-border: #FEC127;
$mx-gradient-one-lightblue: #00C6E8;
$mx-gradient-two-lightblue: #0097C9;
$mx-gradient-lightblue: linear-gradient(135deg, $mx-gradient-one-lightblue 0%, $mx-gradient-two-lightblue 100%);
$mx-gradient-one-orange: #FF8A00;
$mx-gradient-two-orange: #FF5E00;
$mx-gradient-orange: linear-gradient(135deg, $mx-gradient-one-orange 0%, $mx-gradient-two-orange 100%);
$mx-gradient-one-purple: #B56CFF;
$mx-gradient-two-purple: #8F3CFF;
$mx-gradient-purple: linear-gradient(135deg, $mx-gradient-one-purple 0%, $mx-gradient-two-purple 100%);
$mx-gradient-one-green: #6EDC00;
$mx-gradient-two-green: #2FB600;
$mx-gradient-green: linear-gradient(135deg, $mx-gradient-one-green 0%, $mx-gradient-two-green 100%);
$mx-gradient-one-blue: #6F7BFF;
$mx-gradient-two-blue: #4F5DFF;
$mx-gradient-blue: linear-gradient(135deg, $mx-gradient-one-blue 0%, $mx-gradient-two-blue 100%);
$mx-image-opacity: rgba(0, 0, 0, 0.4);


$text-muted: #cfc9e8;
