$mx-hero-max: 4rem;
$mx-hero-min: 2rem;
$mx-sub-hero-max: 2rem;
$mx-sub-hero-min: 1.5rem;
$mx-section-max: 2.6rem;
$mx-section-min: 1.8rem;
$mx-card-max: 1.50rem;
$mx-card-min: 0.85rem;
$mx-body-max : 1.125rem;
$mx-body-min: 1rem;
$mx-cardbody-max: 1rem;
$mx-cardbody-min: 0.875rem;

$mx-bold-max: 800;
$mx-bold: 600;
$mx-thin: 400;
